Repository spacetelescope/synphot_refactor, pull requests merged in 2021-01, with the labels that each got.

#293 TST: Use tox to run CI
  .github/workflows/ci_workflows.yml
  setup.cfg
  synphot/setup_package.py
  synphot/tests/test_binning.py
  tox.ini
Labels: enhancement, installation, testing

#298 TST: Allow skip CI without fail
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
Labels: enhancement, testing

#297 Fix build system + tox
  .github/labeler.yml
  .github/workflows/codeql-analysis.yml
  MANIFEST.in
  pyproject.toml
  setup.cfg
  setup.py
  synphot/binning.py
  synphot/docstrings.py
  synphot/include/.gitignore
  synphot/include/synphot_utils.h
  synphot/setup_package.py
  synphot/src/.gitignore
  synphot/src/synphot_utils.c
  tox.ini
Labels: C-extension, installation, testing

#299 Update publishing workflow to use wheels
  .github/workflows/publish-to-pypi.yml
  conftest.py
Labels: enhancement, testing

#300 MNT: action-skip-ci has moved
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
Labels: testing
