Repository spacetelescope/synphot_refactor, pull requests merged in 2023-09, with the labels that each got.

#361 remove unsupported `system_packages` RTD config setting
  .readthedocs.yaml
  docs/conf.py
Labels: docs, Upstream changes

#363 MNT: NumPy 2.0 compatibility, other fixes
  .github/workflows/ci_workflows.yml
  .readthedocs.yaml
  CHANGES.rst
  conftest.py
  docs/index.rst
  pyproject.toml
  setup.cfg
  synphot/observation.py
  synphot/spectrum.py
  synphot/tests/test_integrator.py
  synphot/tests/test_units.py
  tox.ini
Labels: docs, installation, testing, observation, spectrum, Upstream changes

#365 TST: Bump checkout version and add Python 3.12
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/predeps_workflow.yml
  .github/workflows/publish-to-pypi.yml
  tox.ini
Labels: testing

#366 MNT: ptp was removed from the ndarray class in NumPy 2.0
  synphot/filter_parameterization/filter_fft.py
Labels: Upstream changes, filter_parameterization
